.skillsBlock {
  position: relative;
  background-color: #1a1a1a;
  padding: 60px 0 ;

}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: bold;
  padding: 50px 0;
  text-align: center;
}


.title::after {
  display: block;
  content: '';
  width: 100px;
  height: 5px;
  background-color: #ff0066;
  margin: 19px auto 0;
} 

.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  	
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

@media screen and (min-width: 360px) {
  .skillsBlock  {
    height: 100%;
  }
}

