.worksBlock {
    background-color: #242426;
    padding: 120px 0 ;
}

  .container {
    width: 75%;
    margin: 0 auto;
}

  .list {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);  	 */
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
   
  }

  @media (min-width: 360px) {
    .worksBlock  {
      height: 100%;
    }
  }
  
  