.worksBlock {
    position: relative;
    background-color: #242426;
    padding: 120px 0 ;
  
  }
   
  .works__list {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);  	 */
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  }

  @media (min-width: 360px) {
    .worksBlock  {
      height: 100%;
    }
  }
  
  