.header { 
  padding: 20px 0;
  background-color: aqua;
}

.header__navigation{
  display: flex;
  justify-content: flex-end;
}

.navigation__list {
  display: flex;
  width: 340px;
}

.navigation__item:not(:last-child) {
  margin-right: 30px;
}

@media only screen and (max-width: 360px) {
  .navigation__list {
    justify-content: center;
  }
}

