.header { 
  position: fixed;
  width: 100%;
  background-color: #1a1a1a;
  border-bottom: 1px solid #505050;
  z-index: 1000;
}

.container {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.siteMenu {
  padding: 20px 0;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;
 }

.logoStyle {
  font-size: 36px;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.navigation .header__navigation ul li a {
  position: relative;
  display: block;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: all .5s;
}

.navigation .header__navigation ul li a:hover {
  color: #ff0066;
  transition: all 1s;
}

.active {
  color: #ff0066;
}



@media only screen and (max-width: 360px) {
  .navigation__list {
    justify-content: center;
  }
}

