@import '../../common/styles/scss/variables.scss';

.footerSection {
  position: relative;
  padding: 60px 0 0 0;
  background-color: $backgroundColorDark;


  .container {
    width: 75%;
    margin: 0 auto;
    border-bottom: 1px solid #505050;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      flex-wrap: wrap;

      .logo {
        

        .logoStyle {
          font-size: 36px;
        }
      }

      .social {
        width: 250px;

        & ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }     
    }    
  }

  .copyright {
    display: flex;
    justify-content: center;
    padding: 25px 0;
  }
}

