.work__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
  
  .logo {
    width: 110px;
    height: 100px;
  }
  
  .work__title {
    padding-top: 30px;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 150%;
    /* color: $color-white; */
  }
  
  .work__description {
      max-width: 300px;
    padding-top: 8px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* color: $color-white; */
    opacity: 0.6;
    
  }
  
  