@import '../../common/styles/scss/variables.scss';

.contactsBlock {
  position: relative;
  min-height: 70vh;
  background-color: $backgroundColorLightDark;
  padding: 120px 0;

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;


    @media (min-width: 320px) {
      max-width: 300px;
    }
    
    @media (min-width: 576px) {
      max-width: 540px;
    }

    @media (min-width: 992px) {
      max-width: 960px;
    }

    @media (min-width: 768px) {
      max-width: 720px;
    }

    @media (min-width: 1200px) {
      max-width: 1200px;
    }  

    .inputField {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;

      .col_8 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;

        @media (min-width: 992px) {
          flex: 0 0 66.666667%;
          max-width: 66.666667%;
        }
        
        .form {

          .formRow {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
  
            .col_6 {
              position: relative;
              width: 100%;
              padding-right: 15px;
              padding-left: 15px;

              @media (min-width: 992px) {
                flex: 0 0 50%;
                max-width: 46%;
              }

              .formGroup {
                position: relative;
                margin-bottom: 30px;
                

                .formInput {
                  width: 90%;
                  color: $textColor;
                  font-size: 14px;
                  background-color: $backgroundColorDark;
                  padding: 20px;
                 
                }
              }
            }
  
            .col_12 {
              position: relative;
              width: 91%;
              padding-right: 15px;
              padding-left: 15px;

              @media (min-width: 992px) {
                flex: 0 0 100%;
                max-width: 96%;
              }

              .formGroup {
                position: relative;
                margin-bottom: 30px;

                textarea.formInput {
                  min-height: 120px;
                  max-height: 150px;
                  display: inherit;
                  padding: 12px 20px;
                  width: 95%;
                  color: $textColor;
                  font-size: 14px;
                  background-color: $backgroundColorDark;
                
                 
                }
              }
            }
          }
        }
      }
    }  
  }
}









// @media (min-width: 360px) {
//   .contactsBlock  {
//     height: 100%;
//   }
  
//   .contacts__form {
//     max-width: 350px;
//   }

//   .form__input {
//     width: 260px;
//   }
// }

