.contactsBlock {
  position: relative;
  min-height: 70vh;
  background-color: #1a1a1a;
  padding: 120px 0 ;
}

.contactsForm__title {
  margin-bottom: 20px;
}

.inputField {
  display: flex;
  justify-content: center;
  
}

.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  padding: 10px 30px;
  box-shadow: 0 60px 80px -20px rgba(30, 33, 44, 0.16),
    0 26px 24px -10px rgba(30, 33, 44, 0.1),
    0 12px 10px -6px rgba(30, 33, 44, 0.08),
    0 4px 4px -4px rgba(30, 33, 44, 0.05);
}



.form__input {
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding-left: 15px;
  width: 100%;
  height: 44px;
  font-size: 14px;
  line-height: 150%;
  background-color: rgba(2, 2, 2, 0.034);;
}

.form__input:not(:last-child) {
 margin-bottom: 10px;
}


.form__caption {
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}


@media (min-width: 360px) {
  .contactsBlock  {
    height: 100%;
  }
  
  .contacts__form {
    max-width: 350px;
  }

  .form__input {
    width: 260px;
  }
}

